<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.media.opp.partytonight">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.PartyTonightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDKujpmEX2DWKTOZjeU66lI2EAEcEg1Ng" />

        <activity android:name=".presentation.activities.LaunchScreenActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".presentation.activities.WelcomeScreenActivity" />
        <activity android:name=".presentation.activities.PromoterSignInActivity" />
        <activity
            android:name=".presentation.activities.PromoterSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.activities.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".presentation.activities.PromoterEventsActivity" />

        <activity
            android:name=".presentation.activities.CreateEventActivity"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>