<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.media.opp.partytonight">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".presentation.PartyTonightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDKujpmEX2DWKTOZjeU66lI2EAEcEg1Ng" />

        <activity android:name=".presentation.activities.LaunchScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activities.WelcomeScreenActivity" />
        <activity android:name=".presentation.activities.PromoterSignInActivity" />
        <activity android:name=".presentation.activities.PromoterMainActivity" />
        <activity android:name=".presentation.activities.EventScreenActivity" />
        <activity android:name=".presentation.activities.EventDetailsContainerActivity" />

        <activity
            android:name=".presentation.activities.PromoterSignUpActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".presentation.activities.PromoterEventsActivity"
            android:label="Events" />

        <activity
            android:name=".presentation.activities.CreateEventActivity"
            android:label="Create Event"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.activities.PickMediaActivity"
            android:screenOrientation="fullUser"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".presentation.activities.GoerMainActivity" />
        <activity android:name=".presentation.activities.GoerSignInActivity" />
        <activity
            android:name=".presentation.activities.GoerSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.activities.GoerFindVenueActivity"
            android:label="Find a venue"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.activities.GoerEventActivity" />
        <activity android:name=".presentation.activities.GoerCartActivity" />
        <activity
            android:name=".presentation.activities.GoerBottlesActivity"
            android:label="Liquors" />
        <activity
            android:name=".presentation.activities.GoerTablesActivity"
            android:label="Tables" />

    </application>

</manifest>